# Python
.python-version
pyproject.toml

# Virtual environments
.venv
uv.lock

# Models
train/!model/.gitkeep
train/model/*.pt
train/model/*.onnx

# Data
train/data/input/
#train/data/output/fire_dataset/
train/data/output/fire_dataset/predict
train/data/output/fire_dataset/predict-2
*.mp4
*.avi

# Files
*.ts
